# Safety defaults
*.swp
*.swo
*.DS_Store
*~
# prevent accidental dumps
history/**
secrets/**

# Neovim caches
home/.local/share/nvim/
home/.local/state/nvim/
home/.cache/nvim/

# Hyprland & Waybar runtime files
home/.config/waybar/backup-waybar/
